<footer class="footer">
  <div class="footer-container">
    <div class="footer-grid">
      <div class="footer-brand">
        <div class="footer-logo" routerLink="/">
          <div class="footer-logo-icon">
            <mat-icon>receipt_long</mat-icon>
          </div>
          <span class="footer-logo-text">SmartInvoice</span>
        </div>
        <p>{{ 'FOOTER.DESCRIPTION' | translate }}</p>
      </div>

      <div class="footer-col">
        <h5>{{ 'FOOTER.PRODUCT' | translate }}</h5>
        <ul>
          <li><a href="#">{{ 'FOOTER.FEATURES' | translate }}</a></li>
          <li><a href="#">{{ 'FOOTER.PRICING' | translate }}</a></li>
          <li><a href="#">{{ 'FOOTER.API' | translate }}</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h5>{{ 'FOOTER.SUPPORT' | translate }}</h5>
        <ul>
          <li><a href="#">{{ 'FOOTER.HELP_CENTER' | translate }}</a></li>
          <li><a href="#">{{ 'FOOTER.CONTACT' | translate }}</a></li>
          <li><a href="#">{{ 'FOOTER.STATUS' | translate }}</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h5>{{ 'FOOTER.LEGAL' | translate }}</h5>
        <ul>
          <li><a href="#">{{ 'FOOTER.PRIVACY' | translate }}</a></li>
          <li><a href="#">{{ 'FOOTER.TERMS' | translate }}</a></li>
          <li><a href="#">{{ 'FOOTER.COOKIE_POLICY' | translate }}</a></li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom">
      <p class="footer-copy">© {{ currentYear }} SmartInvoice Systems Inc. {{ 'FOOTER.ALL_RIGHTS_RESERVED' | translate }}</p>
      <div class="footer-social">
        <mat-icon>social_leaderboard</mat-icon>
        <mat-icon>language</mat-icon>
        <mat-icon>mail</mat-icon>
      </div>
    </div>
  </div>
</footer>